<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Stand</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="menu.css"/>
</head>
<body>
<h1>Добавление сотрудника</h1>

<div class="navbar">
  <a href="/booking">Бронирование</a>
  <div class="dropdown">
    <button class="dropbtn"> Администрирование 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/stands">Стенды</a>
      <a href="/employees">Сотрудники</a>
    </div>
  </div> 
</div>
	<br/><br/><br/><br/>
	<form th:action="@{/addEmployee}" method="post" th:object="${employee}">
		<div  style = "margin-left: calc(50% - 250px); width: 500px; clear: both;">
		<label style="margin-left: 40%;" for="name">Имя: </label>
     	<input style="width: 100%; clear: both;" type="text" th:field="*{name}"/>
     	<br/><br/>
     	<label style="margin-left: 40%;" for="lastname">Фамилия: </label>
     	<input style="width: 100%; clear: both;" type="text" th:field="*{lastname}"/>
     	<br/><br/>
			<button style="width: 150px; margin-left: calc(50% - 110px); margin-bottom: 10px;">Добавить сотрудника</button>
			<button style="width: 70px; margin-top: 10px; margin-left: 10px;" type="submit"
				name="cancel" value="Cancel">Отмена</button>
		</div>
	</form>
</body>
</html>