<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Stand</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="menu.css" />
<link rel="stylesheet" href="addForm.css" />
</head>
<body>
	<h1>Добавление сотрудника</h1>

	<div class="navbar">
		<div class="dropdown">
			<button class="dropbtn">
				Бронирование <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/booking?source=stands">Стенды</a> <a href="/booking?source=groups">Группы</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				Администрирование <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/stands">Стенды</a> <a href="/employees">Сотрудники</a>
			</div>
		</div>
	</div>
	<form class="form-container" th:action="@{/addEmployee}" method="post"
		th:object="${employee}">
		<h3 class="form-title">Добавление сотрудника</h3>
		<div class="form-group">
			<label class="form-label">Имя: </label> <input class="form-control"
				type="text" th:field="*{name}" /> <br /> <br /> <label
				class="form-label" for="lastname">Фамилия: </label> <input
				class="form-control" type="text" th:field="*{lastname}" /> <br />
		</div>
		<div class="btn-group">
			<button class="btn">Добавить сотрудника</button>
			<button class="btn" type="submit" name="cancel" value="Cancel">Отмена</button>
		</div>
	</form>
</body>
</html>