<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Stand</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="stands.css">
</head>
<body>
	<br>
	<br>
	<br>
	<form th:action="@{/addStand}" method="post">
		<><>
		
		<div>
			<button style="margin-left: 40%; margin-bottom: 10px;">Добавить
				стенд</button>
			<button style="margin-top: 10px; margin-left: 10px;" type="submit"
				name="cancel" value="Cancel">Отмена</button>
		</div>
	</form>
</body>
</html>