<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Stand</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="menu.css" />
</head>
<body>
	<h1>Бронирование</h1>
	<div class="navbar">
		<div class="dropdown">
			<button class="dropbtn">
				Бронирование <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/booking?source='stands'">Стенды</a> <a href="/booking?source='groups'">Группы</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				Администрирование <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/stands">Стенды</a> <a href="/employees">Сотрудники</a>
			</div>
		</div>
	</div>
	<br />
	<div class="example">
		<div th:if="not ${#lists.isEmpty(groups)}" class="example-color-group"></div>
		<div th:if="not ${#lists.isEmpty(groups)}" class="example-text">группы</div>
		<div class="example-color-on"></div>
		<div class="example-text">свободные</div>
		<div class="example-color-busy"></div>
		<div class="example-text">занятые сейчас</div>
		<div class="example-color-booked"></div>
		<div class="example-text">забронированные</div>
		<div class="example-color-off"></div>
		<div class="example-text">отключенные</div>
	</div>
	<br>
	<br>
	<div class="group-container">
		<a class="group-container-a" th:each="group : ${groups}"
			th:href="@{${group.actionUrl} + ${group.groupId}}"
			th:text="${group.groupName}"> </a>
	</div>

	<div class="button-container">
		<a class="button-container-a" th:each="btn : ${buttons}"
			th:href="@{${btn.actionUrl}}" th:text="${btn.standName}"
			th:classappend="${btn.standName == 'Stand Stand Stand 11'} ? 'off' : (${btn.standName == 'Белка'} ? 'busy' : (${btn.standName == 'Стрелка'} ? 'booked' : 'on'))">
		</a>
	</div>
</body>
</html>