<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MOPS PLC Stands</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="menu.css">
</head>
<body>
	<h1>Сотрудники</h1>

	<div class="navbar">
		<div class="dropdown">
			<button class="dropbtn">
				Бронирование <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/booking?source='stands'">Стенды</a> <a href="/booking?source='groups'">Группы</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				Администрирование <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/stands">Стенды</a> <a href="/employees">Сотрудники</a>
			</div>
		</div>
	</div>
	<form class="table-striped-form">
		<button class="table_button" th:classappend="add_button"
			th:formaction="@{/addEmployee?add}" formmethod="get"></button>
		<button class="table_button" th:classappend="delete_button"
			type="submit" name="delete" value="Delete"
			th:formaction="@{?removeEmployee}" formmethod="post"></button>
		<table class="table-striped">
			<thead>
				<tr>
					<th th:classappend="checkbox-column"><input type="checkbox" class="large-checkbox"
						name="selectAll" id="selectAll" /></th>
					<th>Имя</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee: ${employees}">
					<td><input type="checkbox" name="employee_ids"
						class="itemCheckbox" th:classappend="large-checkbox" th:value="${employee.id}" /></td>
					<td th:text="${employee.name} +' ' + ${employee.lastname}"></td>
				</tr>
			</tbody>
		</table>
		<script>
		  document.getElementById('selectAll').addEventListener('change', function() {
		    const checkboxes = document.querySelectorAll('.itemCheckbox');
		    checkboxes.forEach(checkbox => {
		      checkbox.checked = this.checked;
		    });
		  });
		</script>


	</form>

</body>
</html>