<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MOPS PLC Stands</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="menu.css">
</head>
<body>
	<h1>Стенды</h1>

	<div class="navbar">
		<a href="/booking">Бронирование</a>
		<div class="dropdown">
			<button class="dropbtn">
				Администрирование <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/stands">Стенды</a> <a href="/employees">Сотрудники</a>
			</div>
		</div>
	</div>
	<form class="table-striped-form">
		<button class="table_button" th:classappend="add_button"
			th:formaction="@{/addStand?add}" formmethod="get"></button>
		<button class="table_button" th:classappend="delete_button"
			type="submit" name="delete" value="Delete"
			th:formaction="@{?removeStand}" formmethod="post"></button>

		<table class="table-striped">
			<tr>
				<th th:classappend="checkbox-column"><input type="checkbox"
					name="selectAll" id="selectAll"></th>
				<th>Название</th>
				<th>IP</th>
				<th>Имя пользователя</th>
				<th>Пароль</th>

			</tr>
			<tr th:each="stand: ${stands}">
				<td align="center"><input type="checkbox" class="itemCheckbox" name="stand_ids"
					th:value="${stand.id}" /></td>
				<td align="center" th:text="${stand.name}"></td>
				<td align="center" th:text="${stand.ip}"></td>
				<td align="center" th:text="${stand.username}"></td>
				<td align="center" th:text="${stand.password}"></td>
			</tr>
		</table>
		<script>
		  document.getElementById('selectAll').addEventListener('change', function() {
		    const checkboxes = document.querySelectorAll('.itemCheckbox');
		    checkboxes.forEach(checkbox => {
		      checkbox.checked = this.checked;
		    });
		  });
		</script>
	</form>

</body>
</html>